<section id="abv">

  <center>



    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <p>
            “All you need is love. But a little chocolate now and then doesn't hurt.”</P>
          <SMALL>-Charles M. Schulz</SMALL>

        </div>
        <div class="carousel-item">
          <P>
            “If more of us valued food and cheer and song above hoarded gold, it would be a merrier world.”</P>
          <small> ― J.R.R. Tolkien</small>
        </div>
        <div class="carousel-item">
          <P>
            “One cannot think well, love well, sleep well, if one has not dined well.”</P>
          <small>― Virginia Woolf, A Room of One's Own</small>

        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </center>
</section>
