<div>


  <button class="btn btn-warning btn-lg qw float-left" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-bars " aria-hidden="true"></i>guidelines
  </button>

  <div class="collapse" id="collapseExample">
    <div class="card card-body collapse1">
      <!--collapse1 i added for text color-->
      You need to create account for composing recipes.
      but for reading recipe there is no need to create account.
      You can give feedback after logging out.
    </div>
  </div>

  <br />


</div>
<br />
