<footer class="footer">
  <div class="container">


  <a href="https://www.facebook.com/"><i class="social-icon fab fa-facebook-f fa-2x"></i></a>
<a href="https://twitter.com/"> <i class="social-icon fab fa-twitter fa-2x"></i></a>
  <a href="https://www.instagram.com/"><i class="social-icon fab fa-instagram fa-2x"></i></a>
  <a href="https://mail.google.com/"><i class="social-icon fas fa-envelope fa-2x"></i></a>
  <p>&copy;recipeworld2020</p>
  <p> thanks for visiting our site</p>
    </div>
</footer>

<script type="text/javascript">
  var preloader = document.getElementById("loading");

  function myFunction() {
    preloader.style.display = "none";
  }
</script>
<a class="gotop rounded-circle" href="#"><i class="fas fa-arrow-up"></i></a>
</body>

</html>
