<form action="/create" method="POST">
  <button type="submit" class="btn btn-info btn-lg" name="button">
    <i class="fa fa-search" aria-hidden="true"></i> go to reciepes</button>
</form><br />
<form action="/comp" method="POST">
  <button type="submit" class="btn btn-primary btn-lg" name="button">
    <i class="fa fa-bars " aria-hidden="true"></i> compose reciepes</button>
</form><br /><BR />
