<center>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img class="d-block  firstimg rounded " src="https://i.redd.it/lu5dbayxqgv41.jpg" alt="First slide">
      </div>
      <div class="carousel-item ">

        <img class="d-block firstimg  rounded" SRC="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXxYUsTPoAkC9YDGueyJD4eTJ-_kK4QsaIUw&usqp=CAU" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block  firstimg rounded " SRC="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="First slide">
      </div>

      <div class="carousel-item">
        <img class="d-block  firstimg rounded " src="https://static.toiimg.com/photo/72023714.cms" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block  firstimg rounded " src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/healthy-eating-ingredients-1296x728-header.jpg?w=1155&h=1528"
          alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block  firstimg rounded " src="https://i.pinimg.com/originals/68/81/ce/6881ce938bc97b71fd5ea9070ba1b561.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block  firstimg rounded "
          src="https://images.squarespace-cdn.com/content/v1/53da4b35e4b0853b6efd976a/1495463543583-GSP4FQTYJMU2GOUW6P46/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UcTSrQkGwCGRqSxozz07hWZrYGYYH8sg4qn8Lpf9k1pYMHPsat2_S1jaQY3SwdyaXg/image-asset.jpeg"
          alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block  firstimg  rounded" src="https://truffle-assets.imgix.net/pxqrocxwsjcc_694TNWGel24U0eWqyeIuIg_rainbow-cake_landscapeThumbnail_en-US.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block  firstimg rounded  " src="https://hips.hearstapps.com/amv-prod-tpw.s3.amazonaws.com/wp-content/uploads/2014/10/chocolatepie1.jpg?crop=1xw:0.7517899761336515xh;center,top&resize=640:*" alt="First slide">
      </div>
    </div>
  </div>


</center>

<br />
<br />
