<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-6">Thanks...</h1>
    <p class="lead">IT was a great experience with you.Hope we will meet soon.</p>
  </div>
</div>
