<section id="testi">


  <h1 class="test-head">
    <center><U><I>TESTIMONIAL</I></U>

    </center>
  </h1>
  <BR />
  <div class="card-group">
    <div class="card">
      <div class="avatar mx-auto white">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid">
      </div>
      <div class="card-body">
        <p class="c">
          reciepe was awesome!!!
        </p>
        <p class="card-text"><small class="text-muted"><i class="fas fa-quote-left pr-2"></i>dogo</small></p>
      </div>
    </div>

    <div class="card">
      <div class="avatar mx-auto white">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid">
      </div>
      <div class="card-body">
        <p class="c">
          love it!!!
        </p>
        <p class="card-text"><small class="text-muted"><i class="fas fa-quote-left pr-2"></i>michael</small></p>
      </div>
    </div>

    <div class="card">
      <div class="avatar mx-auto white">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle img-fluid">
      </div>

      <div class="card-body">
        <p class="c">
          good job done by you guys!!!
        </p>
        <p class="card-text"><small class="text-muted"><i class="fas fa-quote-left pr-2"></i>anonymous</small></p>
      </div>
    </div>
  </div>
</section>
<BR />
<BR />
