<%- include("partials/header"); -%>
<div class="abs">
  <B>
    <h1><i class="fas fa-quote-left pr-2"></i> ABOUT</h1>
  </B>
  <p class="abc">
    <%= aboutcontent %>
  </p>
  <div>
    <img class="aboutimg" src="css/download.jfif" alt="foood" />
    <img class="aboutimg" src="css/download1.jfif" alt="foood" />
    <img class="aboutimg" src="css/download.jfif" alt="foood" /></div>


  <%- include("partials/footer"); -%>
</div>
