<%- include("partials/header"); -%>
<div class="ac">
  <center>
    <i class="fa fa-cogs fa-8x" aria-hidden="true"></i>
    <B>
      <h1 class="accp1">OOOOOPPPSSSSSS!!!!</h1>
      <h5>WRONGGG ATTEMPT!!!</h5><br />
    </B>
    <p class="accp">
      You need to login/register before composing post...<br />
      <small>click on the login or register button in the navbar</small>
    </p>
  </center>
  <marquee>sorry for the inconvenience...</marquee>

  <%- include("partials/footer"); -%>
</div>
