<%- include("partials/header"); -%>
<div class="co">
  <b>
    <h1><i class="fas fa-quote-left pr-2"></i> CONTACT</h1>
  </b>
  <p class="abc">
    <%= contactcontent %>
  </p>
  <img class="conimg" src="css/pizza.jpg" />

  <%- include("partials/footer"); -%>
</div>
