<%- include('partials/header') %>
<div class="lo">
  <center>
    <i class="fas fa-key fa-6x"></i>
    <h1>LOGIN</h1>
  </center>
  <% if (message1){ %>
  <h4 class=" alert alert-danger "> <%= message1 %></h4>
  <% } %>
  <hr />
  <center>
    <b>
      <p>Don't keep your reciepes , share them with us!</p>
    </b>
  </center>
  <hr />
  <!--form-->
  <%- include('partials/loginform') %>
  <center>
    <br />
    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div>
    <Br><br />
  </center>
  <%- include('partials/footer') %>
</div>
